<!DOCTYPE html>
<html>
  
  <head>
    <title>Sample Quiz</title>
  </head>
  
  <body>
    <h1>Cool Quiz</h1>
    
    <form action="/results" method="post">
      
      <h2>What's your gender?</h2>
      <input type="radio" name="gender" value="10">Boy 
      <input type="radio" name="gender" value="20">Girl
      <input type="radio" name="gender" value="10">Other
      
      <h2>Do you play a sport?</h2>
      <input type="radio" name="sport" value="1">Yes
      <input type="radio" name="sport" value="2">No
      
      <h2>Do you code?</h2>
      <input type="radio" name="code" value="1">Yes
      <input type="radio" name="code" value="2">No
      
      <button type="submit" class="new">See if you're cool here!</button>
      
    </form>
  </body>
  
</html>